<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css" rel="stylesheet"
          id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <link th:href="@{/css/shoppingbag.css}" href="/static/css/shoppingbag.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="shopping-cart">
    <div class="title">
        Shopping Bag
    </div>

    <div th:each="basketItem : ${basketList}">
        <div class="item">
            <div class="buttons">
                <a class="delete-btn" th:href="@{/basket/delete/{id} (id = ${basketItem.id})}"></a>
            </div>

            <div class="description">
                <h5>Preparation Name</h5>
                <span th:text="${basketItem.preparation.name}"></span>
            </div>

            <div class="quantity">
                <h5>Count</h5>
                <span th:text="${basketItem.count}"></span>
            </div>

            <div class="item-price">
                <h5>zł</h5>
                <span th:text="${basketItem.preparation.price}"></span>
            </div>
        </div>
    </div>

    <div class="total-price">
        <h5>All price</h5>
        <span th:text="${allprice}"></span>
    </div>
    <div class="buttons">
        <a th:href="@{/basket/buy}">Buy</a>
        <a th:href="@{/home}">Back</a>
    </div>
</div>
</body>
</html>