<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 340px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card a {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card a:hover {
  opacity: 0.7;
}
    </style>
</head>
<body>
<div class="card">
    <form th:each="preparation : ${preparationList}">
    <h1 th:text="${preparation.name}"></h1>
    <p class="price" th:text="${preparation.price}">zł</p>
    <p th:text="${preparation.description}"></p>
    <p th:text="${preparation.INN}"></p>
    <p th:text="${preparation.recipe}"></p>

    <p><a th:href="@{/userproduct/addbasket/{id} (id = ${preparation.id})}">Reservation</a></p>
    </form>
    <a th:href="@{/home}">Back</a>
</div>
</body>
</html>