<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/product.css}" href="/static/css/product.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="card">
    <div class="product-card" th:each="preparation : ${preparationList}">
        <form>
            <h1 th:text="${preparation.name}"></h1>
            <p class="price" th:text="${preparation.price}"></p>
            <p th:text="${preparation.description}"></p>
            <p th:text="${preparation.INN}"></p>
            <p th:text="${preparation.recipe}"></p>
        </form>
        <a th:href="@{/userproduct/addbasket/{id} (id = ${preparation.id})}">Reservation</a>
    </div>
    <a th:href="@{/home}">Back</a>
</div>
</body>
</html>