<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css" rel="stylesheet"
          id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link th:href="@{/css/login.css}" href="/static/css/login.css" rel="stylesheet" type="text/css">
    <title>Sign in</title>

    <style>
        .alert-danger p{
            background: red;
            color: white;
            text-align: center;
            font-size: 45px;
        }

        .alert-success p {
            background: green;
            color: white;
            text-align: center;
            font-size: 45px;
        }
    </style>
</head>
<body>
<div class="alert-danger">
    <p th:if="${message}" th:text="${message}"></p>
</div>

<div class="alert-success">
    <p th:if="${messagelogout}" th:text="${messagelogout}"></p>
</div>
<div class="login-box">
    <h1>Sign in</h1>
    <form th:action="@{/login}" method="post">

        <div class="textbox">
            <i class="fas fa-envelope" aria-hidden="true"></i>
            <input type="email" name="email" class="form-control" placeholder="Email" required autofocus>
        </div>


        <div class="textbox">
            <i class="fas fa-lock" aria-hidden="true"></i>
            <input type="password" name="password" class="form-control" placeholder="Password" required>
        </div>

        <input type="submit" value="Login">

        <a th:href="@{/signup}">Don't have an account?</a>
    </form>
</div>
</body>
</html>