<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Home</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
          id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>
<body>


<sec:authentication var="principal" property="principal"/>

<div class="container">
    <div sec:authorize="hasAuthority('ROLE_ADMIN')">
        <div class="container">
            <h2>Hi <span th:utext="${userName}"></span>, this is admin home page </h2>
            <a th:href="@{/product}" class="button is-danger">Preparation</a>
            <a th:href="@{/logout}" class="button is-danger">Sing out</a>
        </div>
    </div>

    <div sec:authorize="hasAuthority('ROLE_USER')">
        <div class="container">
            <h2>Hi <span th:utext="${userName}"></span>, this is user home page </h2>
            <a th:href="@{/category}" class="button is-danger">Preparation</a>
            <a th:href="@{/logout}" class="button is-danger">Sing out</a>
        </div>
    </div>

</div>
</body>
</html>